*{
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'calibri';
    color: #222222;
    font-size: 100%;
}

a[href^="mailto:"]::after {

}

.title-section{
 
    text-transform: uppercase;
    color: #a23a0a;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.mailto{
    color: #065a4f;
    width: 100% !important;
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 75%;
}

.block-main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 75%;

}

.block h2, .block-main h2 {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 1px #222222;
}

.block h4{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4vw;
    text-align: center;

    color: #222222;
    text-shadow: 1px 1px 1px #ffffff;
}

.img-parallax {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}

.content-black {
    background: #222222;
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content-white {
    background: #ffffff;
    color: #222222;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content-title {
    padding: 1%;
}

.bq-client{
    font-size: 70%;
}

.client-rounded{
    width: 20%;
    border-radius: 50%;
}

.p-white{
    color: #ffffff;
}

.lead-title{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(50%);
    font-size: 200%;
}

.lead-service{    
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(100%);
    font-size: 100%;
}

/*tecnologys*/
.clients-list {
    margin-top: 7.2rem;
}

.item-client {
    border-color: rgba(255, 255, 255, 0.05);
    border-width: 1px;
    border-style: none solid solid none;
    text-align: center;
    padding: 2.4rem 0;
}
  
.item-client a {
    display: block;
}
  
.item-client img {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.item-client:nth-child(4n) {
    border-style: none none solid none;
}
  
.item-client:nth-last-child(-n+4) {
    border-bottom-style: none;
}
  
.item-client a:hover img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
}
/* ------------------------------------------------------------------- 
 * responsive:
 * clients
 * ------------------------------------------------------------------- */
 @media only screen and (max-width:1200px) {
    padding-top: 16.2rem;
    padding-bottom: 16.2rem;
  }
  
  @media only screen and (max-width:1000px) {
    .item-client {
      padding: 1.5rem 0;
    }
  
    .item-client img {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
    }
  
  }
  
  @media only screen and (max-width:800px) {
    .item-client:nth-child(n) {
      border-style: none solid solid none;
    }
  
    .item-client:nth-child(3n) {
      border-style: none none solid none;
    }
  
    .item-client:nth-last-child(-n+2) {
      border-bottom-style: none;
    }
  
  }
  
  @media only screen and (max-width:600px) {
    .clients-list {
      margin-top: 6rem;
    }
  
    .item-client:nth-child(n) {
      border-style: none solid solid none;
    }
  
    .item-client:nth-child(2n) {
      border-style: none none solid none;
    }
  
    .item-client:nth-last-child(-n+2) {
      border-bottom-style: none;
    }
  
  }
  
  @media only screen and (max-width:400px) {
    .clients-list {
      margin-top: 3rem;
    }
  
  }
  
  
/*images media*/

.row{
    padding: 1%;
}
.media { 
    min-width: 0;
 }
.media-img {
    width: 100%;
    max-width: 100%; 
    max-height: 450px; 
}
.media-img:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
} 

