@font-face {
  font-family: 'KM';
  src: url('media/font/KHONE-MAKINA.ttf');
}

*{
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'calibri';
    color: #222222;
    font-size: 100%;
}

a[href^="mailto:"]::after {

}


.title-main{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #222222 !important;
}

.title-span{
  color: #a23a0a !important;
}

.title-section{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: #a23a0a;
    font-size: 3rem !important;
}

.display-4{
  font-family: 'KM', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem !important;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.mailto{
    color: #065a4f;
    width: 100% !important;
}

.block {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 75%;
}

.block-main {
    /*width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 75%;*/
    padding-top: 18rem;
    padding-bottom: 18rem;
    background-color: #151515;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../media/image/bg-3.jpg);
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
}

.block h2, .block-main h2 {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 1px #222222;
}

.block h4{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4vw;
    color: #222222;
}

.img-parallax {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}

.content-black {
    background: #222222;
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content-white {
    background: #ffffff;
    color: #222222;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content-title {
    padding: 1%;
}

.bq-client{
    font-size: 70%;
}

.client-rounded{
    width: 20%;
    border-radius: 50%;
}

.p-white{
    color: #ffffff;
}

.lead{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 100%;
}

.lead-title{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(50%);
    font-size: 200%;
}

.lead-service{    
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(100%);
    font-size: 100%;
}

/*service*/
.service-main{
  padding-bottom: 18rem;
  background-color: #151515;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../media/image/bg-6.jpg);
  background-size: cover;
  position: relative;
}

.s-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: #a23a0a;
}

.s-col{
  background: #ffffff67;
  padding: 1%;
}

.s-col > .row > .col >p {
  font-weight: 500;
}

/*tecnologys*/
.clients-list {
    margin-top: 7.2rem;
}

.item-client {
    text-align: center;
    padding: 2.4rem 0;
}
  
.item-client a {
    display: block;
}
  
.item-client img {
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.item-client:nth-child(4n) {
    border-style: none none solid none;
}
  
.item-client:nth-last-child(-n+4) {
    border-bottom-style: none;
}
  
.item-client a:hover img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
}
/* ------------------------------------------------------------------- 
 * responsive:
 * clients
 * ------------------------------------------------------------------- */
 @media only screen and (max-width:1300px) {
  .item-client {
    padding: 1.5rem 0;
    padding-top: 16.2rem;
    padding-bottom: 16.2rem;
  }

  .item-client img {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
    
  }

  }
  
  @media only screen and (max-width:1000px) {
    .item-client {
      padding: 1.5rem 0;
    }
  
    .item-client img {
      -webkit-transform: scale(0.3);
      -ms-transform: scale(0.3);
      transform: scale(0.3);
    }
  
  }
  
  @media only screen and (max-width:800px) {
    .item-client:nth-child(n) {
      border-style: none solid solid none;
    }
  
    .item-client:nth-child(3n) {
      border-style: none none solid none;
    }
  
    .item-client:nth-last-child(-n+2) {
      border-bottom-style: none;
    }
  
  }
  
  @media only screen and (max-width:600px) {
    .clients-list {
      margin-top: 6rem;
    }
  
    .item-client:nth-child(n) {
      border-style: none solid solid none;
    }
  
    .item-client:nth-child(2n) {
      border-style: none none solid none;
    }
  
    .item-client:nth-last-child(-n+2) {
      border-bottom-style: none;
    }
  
  }
  
  @media only screen and (max-width:400px) {
    .clients-list {
      margin-top: 3rem;
    }
  
  }
  
  
/* ===================================================================
 * # stats
 *
 * ------------------------------------------------------------------- */
 .block > .s-stats {
  padding-top: 10rem;
  padding-bottom: 5.4rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #000000;
  background-image: url("../media/image/stats-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.s-stats::before {
  content: "";
  display: block;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
}

.stats-block {
  text-align: center;
}

.item-stats {
  margin: 5.4rem 0;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.item-stats__count {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 9rem;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.item-stats h5 {
  font-size: 1.4rem;
  line-height: 1.714;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * stats
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
  .stats-block {
    max-width: 900px;
  }

  .item-stats {
    margin: 3rem 0;
  }

  .item-stats__count {
    font-size: 8.8rem;
  }

}

@media only screen and (max-width:600px) {
  .item-stats__count {
    font-size: 8.2rem;
  }

}

@media only screen and (max-width:400px) {
  .s-stats {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .item-stats__count {
    font-size: 8rem;
  }

}


/*images media*/

.row{
    padding: 1%;
}
.media { 
    min-width: 0;
 }
.media-img {
    width: 100%;
    max-width: 100%; 
    max-height: 450px; 
}
.media-img:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
} 




/*media responsive*/

/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
  
  }
  
  /************************************************************************************
  smaller than 650
  *************************************************************************************/
  @media screen and (max-width: 650px) {
    .col-6{
      flex-basis: 0%;
      max-width: 100%;
    }
  }
  /************************************************************************************
  smaller than 560
  *************************************************************************************/
  @media screen and (max-width: 480px) {
    .col-6{
      flex-basis: 0%;
      max-width: 100%;
    }
  }